{{! Everything inside the #author tags pulls data from the author }} {{#author}} {{#if profile_image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{img_url profile_image}})">
        <span class="hidden">{{name}}'s Picture</span>
    </a>
</figure>
{{/if}} {{/author}}
<figure class="author-info">
    <section class="author-info-title">
        <span>
            <time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">发表于：{{date format="YYYY-MM-DD"}}</time>
        </span>
        {{#author}}
        <span>作者：{{name}}</span>
    </section>
    <section class="author-info-content">
        <div style=" text-align:center">
            <span class="author-info-bio">欢迎关注我的微信公众号和博客小程序</span>
        </div>
        <section class="author-info-social">
            <div style=" text-align:center">
                <img style=" margin-right:60px" src="http://image.bug2048.com/erweima.jpg?imageView2/1/w/100/h/100/q/75" alt="欢迎关注我的公众号"
                />
                <img src="http://image.bug2048.com/xiaochengxu.jpg?imageView2/1/w/100/h/100/q/75" alt="欢迎关注我的公众号" />
            </div>
        </section>
        {{/author}}
    </section>
</figure>